* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-image: url('../img/haunted-house.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10;
}

h1 {
    font-family: sans-serif;
    color: #fff;
    position: relative;
    top: 80%;
    left: 35%;
    font-size: 40px;
    padding: 10px;
    background-color: lightskyblue;
    animation-name: animateTitle;
    animation-duration: 5s;
}

@keyframes animateTitle {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.ghost {
    animation-name: ghost;
    animation-duration: 10s;
    position: absolute;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

@keyframes ghost {
    0% {top: 0; left: 0;}
    25% {top: 75%;}
    50% {left: 85%;}
    75% {top: 20%; left: 85%;}
    100% {top: 10%; left: 45%;}
}
